.summary {
  width: 100%;
  height: max-content;
  background-image: linear-gradient(to bottom left, #008b79, #1180a1);
  margin-bottom: 2.5rem;
}

.summary h1 {
  margin: 0;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

@media (min-width: 768px) {
  .summary h1 {
    font-size: 5rem;
  }
}
